$colorPrincipal: #08e5e5;
$principal2: #15c9c9;
$secundario: #f24a6e;

body {
  font-family: Poppins, sans-serif;
}

.sticky-top {
  background: #fff;
}

.navbar-toggler {
  span {
    color: #000 !important;
  }
}


.navbar-expand-lg .navbar-nav .nav-link {
  .caret {
    color: #000;
    transition: 0.8s;
  }

  &:hover .caret {
    color: $colorPrincipal;
    transition: 0.8s;
  }

  color: #000;
  transition: 0.8s;
  position: relative;

  &:hover {
    color: $colorPrincipal;

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $colorPrincipal;
    transition: width 0.8s;
  }
}

.searchMenu {
  input {
    border: 1px solid #9f9f9f !important;
    border-radius: 4px;
    margin: 0em 0em 0em 1em;

    &:focus-visible {
      border: 1px solid $colorPrincipal !important;
    }
  }

  button {
    border: none;
    padding: 0.4em;
    border-radius: 5px;
    transition: 0.4s;
    background: transparent;

    &:hover {
      background: $principal2;
      color: #fff;

      transition: 0.4s;
    }
  }
}

.custom-container {
  padding: 0;
  margin: 0;
  position: relative;

  img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 5em;
    color: white;
    /* background: rgb(21 201 201 / 40%); */
    text-shadow: 3px 3px 1px rgb(0 0 0);
    font-weight: bold;
    padding: 0.2em;
    border-radius: 11px;
  }
}

.bg-dark {
  color: #fff;
  padding-top: 3em;
  padding-bottom: 1em;

  h4 {
    color: #fff;

    &:after {
      content: "";
      display: block;
      width: 10%;
      height: 2px;
      background-color: $principal2;
    }
  }

  .links {
    padding-bottom: 3em;

    ul {
      list-style: none;
      margin-left: -2em;

      li {
        font-size: 14px;

        &:hover span {
          visibility: visible;
          transition: 0.2s ease;
          color: $principal2;
        }

        span {
          visibility: hidden;
          transition: 0.2s ease;
          color: $principal2;
        }
      }
    }

    a {
      color: #fff;
      transition: 0.6s;
      text-decoration: none;

      &:hover {
        color: $colorPrincipal;
        transition: 0.6s;
      }
    }

    .sociales {
      a {
        margin-right: 0.6em;
        font-size: 24px;
      }

      .contact {
        a {
          font-size: 14px;
        }
      }
    }
  }

  .derechos {
    font-size: 13px;
  }
}

.btnReserva {
  color: #fff;
  border: 1px solid red;
  padding: 0.4em 2em;
  border-radius: 5px;
  background: red;

  &:hover {
    background: rgb(216, 23, 23);
    text-decoration: none;
    color: #fff;
  }
}

.containerReviews {
  margin-top: 4em;
  margin-bottom: 4em;

  .carousel-inner {
    .circulo {
      width: 100%;
      height: 110px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
  .cardReview{
    background: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
    i{
      color: gold;
    }
  }
}


.navMega {
  ul {
    li {
      a {
        font-family: Poppins, sans-serif;
        color: #484848;
        font-weight: bold;

      }
    }
  }
}

.megaMenu {
  border-bottom: 1px dashed grey;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.info {
  background: $principal2;
  color: #fff;

  .infoMail {
    margin-left: 6em;
  }

  span {
    font-size: 14px;
  }

  .redesContent {
    padding-right: 8em;

    .redes {
      float: right;
      margin-left: 1em;
    }
  }

}


.carousel-caption h5 {
  color: #fff;
  font-weight: bold;
  font-family: Poppins;
  font-size: 70px;
}

.prev {
  font-size: 30px;
  color: $colorPrincipal;
  border-radius: 50%;
  background: #fff;
  width: 50px;
  height: 50px;
  transition: 0.4s;

  &:hover {
    color: #fff;
    background: $colorPrincipal;
    transition: 0.4s;
  }
}

.next {
  font-size: 30px;
  color: $colorPrincipal;
  border-radius: 50%;
  background: #fff;
  width: 50px;
  height: 50px;
  transition: 0.4s;

  &:hover {
    color: #fff;
    background: $colorPrincipal;
    transition: 0.4s;
  }
}

.hoteles {}

.carousel {
  overflow: hidden;
}

.zoom-in-image {
  animation-name: zoom-in;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.btn-slide {
  color: #08e5e54f;

  &:active {
    color: $colorPrincipal;
  }

  &:hover {
    color: $colorPrincipal;
  }
}

.cursiva {
  font-family: Satisfy, cursive;
  text-align: center;
  color: $colorPrincipal;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.custom {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;


  .custom-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden !important;
    position: relative;
    height: 470px;

    img {
      width: 100%;
      height: 470px;
      object-fit: cover;
    }

    .card-hover {
      text-align: center;
      background: $colorPrincipal;
      color: #fff;
      position: inherit;
      padding-bottom: 1.8em;
      transition: 0.6s ease;

      h4 {
        padding-top: 0.8em;
        color: #fff;
      }

      a {
        background: #fff;
        color: #08e5e5;
        font-weight: 600;
        font-size: 14px;
        padding: 0.4em 1em;
        border-radius: 2px;
        border: 1px solid #fff;
        transition: 0.6s ease;

        &:hover {
          box-shadow: rgba(15, 167, 191, 0.35) 0px 5px 15px;
          transition: 0.6s ease;
        }
      }
    }

    &:hover .card-hover {
      margin-top: -10em;
      transition: 0.6s ease;
      position: inherit;
    }
  }
}

.circulares {
  .circular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 330px;
    border-radius: 50%;
    background-color: #f1f1f1;
    overflow: hidden;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
      transition: 0.6s ease;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 92%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.274);
      opacity: 0;
      transition: opacity 0.2s ease;
      border-radius: 50%;
      margin-left: 15px;
      transition: 1s ease;
    }

    &:hover::before {
      opacity: 1;
      transition: 1s ease;
    }

    img {
      display: block;
      width: 142%;
      height: auto;
      transition: 1s ease;
    }

    &:hover img {
      width: 150%;
      height: auto;
      transition: 1s ease;
    }

    h3 {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0;
      padding: 0;
      font-family: Satisfy, cursive;
      font-size: 35px;
    }
  }
}

.migas {
  a {
    color: #545151;
    transition: 0.5s ease;

    &:hover {
      color: $principal2;
      text-decoration: none;
      transition: 0.5s ease;
    }
  }
}

.sticky {
  position: sticky;
  top: 3em;

  .image-container {
    position: relative;
  }

  .expand-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #fff;
    padding: 8px;
    background: $principal2;
  }

  .submenu {
    a {
      color: #000;
      display: block;
      margin: 0.5em 1.5em;

      &:hover {
        text-decoration: none;
        color: $principal2;
        transition: 0.4s;
      }
    }
  }
}

.cardMin {
  width: 100%;
  height: 50px;
  background: $principal2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right: 1em;
    font-size: 14px;
  }
}

.mensaje {
  width: 100%;
  background: #f24a6e;
  height: auto;
  text-align: center;
  color: #fff;

  p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
}

.toursDetails {
  background: #F6F4F0;
  color: #000;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: column;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 18px;
    margin-right: 3em;
  }

  .resaltado {
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
  }

  a {
    display: block;
    text-align: center;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .popup-content {
      background-color: #fff;
      padding: 24px;
      border-radius: 5px;
      position: relative;
      margin-top: 3em;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }



  .dates {
    background: #000;
    color: #fff;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .book {
    background: #fff;
    color: #000;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold !important;
    margin-top: 0.5em;
    border: 1px solid #000;
    cursor: pointer;
  }
}


.card {
  .card-title {
    font-size: 16px;
    font-weight: bold;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .cardBtn {
    font-size: 14px;
    text-align: center;
    background: $principal2;
    border: 1px solid $principal2;
    color: #fff;
    border-radius: 3px;
    padding: 0.2em 1em;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:hover {
      color: #fff;
      background: linear-gradient(to left, $principal2 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right;
      transition: background-position 0.3s ease-in-out;
      border: none;
    }

    &:active {
      color: #fff !important;
      background-color: $principal2 !important;
      border-color: $principal2 !important;
    }

    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.djm2 {
  color: $principal2;

  &:hover {
    color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  .info .infoMail {
    margin-left: 0px;
  }

  .info .infoMail2 {
    text-align: center;
  }

  .redesContent {
    margin-bottom: 0.6em;
  }

  .responsive {
    display: none;
  }
}